<script>

    // Disable +/- buttons outside 1-99 range
    function handleEnableDisable(itemId) {
        var currentValue = parseInt($(`#id_qty_${itemId}`).val());
        var minusDisabled = currentValue < 2;
        var plusDisabled = currentValue > 98;
        $(`#decrement-qty_${itemId}`).prop('disabled', minusDisabled);
        $(`#increment-qty_${itemId}`).prop('disabled', plusDisabled);
    }

    // Ensure proper enabling/disabling of all inputs on page load
    var allQtyInputs = $('.qty_input');
    for(var i = 0; i < allQtyInputs.length; i++){
        var itemId = $(allQtyInputs[i]).data('item_id');
        handleEnableDisable(itemId);
    }

    // Check enable/disable every time the input is changed
    $('.qty_input').change(function() {
        var itemId = $(this).data('item_id');
        handleEnableDisable(itemId);
    });

    // Increment quantity
    $('.increment-qty').click(function(e) {
       e.preventDefault();			                                                // this prevents the user from navigating to the button url      
       var closestInput = $(this).closest('.input-group').find('.qty_input')[0];	// search up DOM tree to closest input-group class then 
							                                                        // move down to first element with the class qty_input
       var currentValue = parseInt($(closestInput).val());                          // cache current value
       $(closestInput).val(currentValue + 1);		                                // set the input box’s new value to the current value +1
       
       var itemId = $(this).data('item_id');                                        // get the item_id from form using the data() method
       handleEnableDisable(itemId);                                                 // call handleEnableDisable() & pass in button item id
    });

    // Decrement quantity
    $('.decrement-qty').click(function(e) {
       e.preventDefault();
       var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
       var currentValue = parseInt($(closestInput).val());
       $(closestInput).val(currentValue - 1);

       var itemId = $(this).data('item_id');
       handleEnableDisable(itemId);
    });


</script>